<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Course",   'course_list' %></li>
        <li><%= link_to "Instructor",   'instructor_list' %></li>
        <li><%= link_to "Subject", 'subject_list' %></li>
      </ul>
    </nav>
  </div>
</header>
